<head>
	<meta charset="UTF-8">
</head>
<div class="modal fade" id="resetPassModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
      	<h1 class="font-weight-light">¿Estas seguro de restablecer la contraseña?</h1>
        <input type="hidden" id="idUserRP" name="idUserRP"/>
      </div>
      <div class="modal-footer justify-content-around d-flex">
        <button type="button" class="btn btn-block btn-success rounded-pill font-weight-bold" th:onclick="resetPassword()">
	        <i class="fas fa-check"></i>
	        Aceptar
        </button>
        <button type="button" class="btn btn-block btn-light rounded-pill font-weight-bold" data-dismiss="modal">
        	<i class="fas fa-times"></i>
        	Cancelar
        </button>
      </div>
    </div>
  </div>
</div>