<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Cambiar contraseña | KangreSystem</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/dashboard.css}">
	<link rel="shotcut icon" th:href="@{/img/logosimbolo.png}">
	<script src="https://kit.fontawesome.com/eb1bb051d4.js"></script>
</head>
<body>
	<header th:replace="plantillas/burguer :: header"></header>
	<nav th:replace="plantillas/burguer :: navbar"></nav>
	<div class="content mx-auto">
		<div class="alert alert-success alert-dismissible fade show mt-2" role="alert" th:if="${success}">
			<i class="far fa-check-circle mr-1"></i>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
			<strong th:text="${success}"></strong>
		</div>
		<div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" th:if="${error}">
	      <i class="far fa-times-circle"></i>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		  <strong th:text="${error}"></strong>
		</div>
		<div class="alert alert-warning alert-dismissible fade show mt-2" role="alert" th:if="${warning}">
		  <i class="fas fa-exclamation-circle mr-1"></i>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		  <strong th:text="${warning}"></strong>
		</div>
		<div class="alert alert-info alert-dismissible fade show mt-2" role="alert" th:if="${info}">
		  <i class="fas fa-info-circle mr-1"></i>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		  <strong th:text="${info}"></strong>
		</div>
	</div>
	<div class="content mx-auto">
		<h1 th:text="'Cambiar mi contraseña'" class="text-center display-4 mt-4"></h1>
		<h1 th:text="'Ingreso al sistema'" class="text-center text-secondary"></h1>
		<hr>
		<div class="row justify-content-center">
			<div class="col-6">
				<img th:src="@{/img/cambiarPassProfile.jpg}" class="img-fluid">
				<div class="jumbotron bg-light p-5" style="border-radius: 15px;">
					<form th:object="${usuario}" th:action="@{/mi-perfil/cambiar-contrasenia}" method="post">
						<input type="hidden" th:field="*{idUser}" id="idUser" name="idUser">
						<input type="hidden" th:field="*{username}" id="username" name="username">
						<input type="hidden" th:field="*{passwordPuntos}" id="passwordPuntos" name="passwordPuntos">
						<input type="hidden" th:field="*{tipoDoc}" id="tipoDoc" name="tipoDoc">
						<input type="hidden" th:field="*{numeroDoc}" id="numeroDoc" name="numeroDoc">
						<input type="hidden" th:field="*{nombres}" id="nombres" name="nombres">
						<input type="hidden" th:field="*{apellidos}" id="apellidos" name="apellidos">
						<input type="hidden" th:field="*{celular}" id="celular" name="celular">
						<input type="hidden" th:field="*{telefono}" id="telefono" name="telefono">
						<input type="hidden" th:field="*{direccion}" id="direccion" name="direccion">
						<input type="hidden" th:field="*{ciudad}" id="ciudad" name="ciudad">
						<input type="hidden" th:field="*{email}" id="email" name="email">
						<input type="hidden" th:field="*{pais.idPais}" id="pais" name="pais">
						<input type="hidden" th:field="*{genero}" id="genero" name="genero">
						<input type="hidden" th:field="*{fechaNac}" id="fechaNac" name="fechaNac">
						<input type="hidden" th:field="*{fechaRegistro}" id="fechaRegistro" name="fechaRegistro">
						<input type="hidden" th:field="*{edad}" id="edad" name="edad">
						<input type="hidden" th:field="*{enabled}" id="enabled" name="enabled">
						<input type="hidden" th:field="*{terminos}" id="terminos" name="terminos">
						<div class="form-group">
							<label for="">Contraseña actual</label>
							<input type="password" id="oldPass" name="oldPass" class="form-control" required>
						</div>
						<hr>
						<div class="form-group">
							<label for="">Nueva contraseña</label>
							<input type="password" th:field="*{password}" id="password" name="password" class="form-control" required>
						</div>
						<div class="form-group">
							<label for="">Confirmar contraseña</label>
							<input type="password" th:field="*{confirmPassword}" id="confirmPassword" name="confirmPassword" class="form-control" required>
						</div>
						<div class="form-group">
							<button type="button" th:onclick="confirmChangePass()" class="btn btn-danger rounded-pill btn-block font-weight-bold">
								Cambiar contraseña
								<i class="fas fa-check-circle mr-1"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="plantillas/burguer :: footer"></footer>	
	
	<script type="text/javascript">
	   
	    function confirmChangePass(){
	    	if ($("#oldPass").val() != "" && $("#password").val() != "" && $("#confirmPassword").val() != "") {
	    		$('#modalConfirmCambiarPass').modal('show');
		    	$("#modalConfirmCambiarPass #idUserModal").val($("#idUser").val());
		    	$("#modalConfirmCambiarPass #usernameModal").val($("#username").val());
		    	$("#modalConfirmCambiarPass #passwordPuntosModal").val($("#passwordPuntos").val());
		    	$("#modalConfirmCambiarPass #tipoDocModal").val($("#tipoDoc").val());
		    	$("#modalConfirmCambiarPass #numeroDocModal").val($("#numeroDoc").val());
		    	$("#modalConfirmCambiarPass #nombresModal").val($("#nombres").val());
		    	$("#modalConfirmCambiarPass #apellidosModal").val($("#apellidos").val());
		    	$("#modalConfirmCambiarPass #celularModal").val($("#celular").val());
		    	$("#modalConfirmCambiarPass #telefonoModal").val($("#telefono").val());
		    	$("#modalConfirmCambiarPass #direccionModal").val($("#direccion").val());
		    	$("#modalConfirmCambiarPass #ciudadModal").val($("#ciudad").val());
		    	$("#modalConfirmCambiarPass #emailModal").val($("#email").val());
		    	$("#modalConfirmCambiarPass #paisModal").val($("#pais").val());
		    	$("#modalConfirmCambiarPass #generoModal").val($("#genero").val());
		    	$("#modalConfirmCambiarPass #fechaNacModal").val($("#fechaNac").val());
		    	$("#modalConfirmCambiarPass #fechaRegistroModal").val($("#fechaRegistro").val());
		    	$("#modalConfirmCambiarPass #edadModal").val($("#edad").val());
		    	$("#modalConfirmCambiarPass #enabledModal").val($("#enabled").val());
		    	$("#modalConfirmCambiarPass #terminosModal").val($("#terminos").val());
		    	$("#modalConfirmCambiarPass #oldPassModal").val($("#oldPass").val());
		    	$("#modalConfirmCambiarPass #passwordModal").val($("#password").val());
		    	$("#modalConfirmCambiarPass #confirmPasswordModal").val($("#confirmPassword").val());
	    	}
	    }
	    
		
	</script>
	
	<div th:include="Views/SI/Perfil/modalConfirmCambiarPass.html" th:remove="tag"></div>	
</body>
</html>