<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Ordenes | KangreSystem</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/dashboard.css}">
	<link rel="shotcut icon" th:href="@{/img/logosimbolo.png}">
	<script src="https://kit.fontawesome.com/eb1bb051d4.js"></script>
</head>
<body>
	<header th:replace="plantillas/burguer :: header"></header>
	<nav th:replace="plantillas/burguer :: navbar"></nav>
	<div class="content mx-auto">
		<div class="alert alert-success alert-dismissible fade show mt-2" role="alert" th:if="${success}">
			<i class="far fa-check-circle mr-1"></i>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
			<strong th:text="${success}"></strong>
		</div>
		<div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" th:if="${error}">
	      <i class="far fa-times-circle"></i>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		  <strong th:text="${error}"></strong>
		</div>
		<div class="alert alert-warning alert-dismissible fade show mt-2" role="alert" th:if="${warning}">
		  <i class="fas fa-exclamation-circle mr-1"></i>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		  <strong th:text="${warning}"></strong>
		</div>
		<div class="alert alert-info alert-dismissible fade show mt-2" role="alert" th:if="${info}">
		  <i class="fas fa-info-circle mr-1"></i>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		  <strong th:text="${info}"></strong>
		</div>
	</div>
	<div class="content mx-auto">
		<div class="display-4 text-center mt-4" th:text="'Cancelar orden'"></div>
		<hr>
		<div class="row justify-content-center">
			<div class="col-6">
				<img th:src="@{/img/cancelarOrden.jpg}" class="img-fluid">
				<div class="jumbotron bg-light p-5" style="border-radius: 15px;">
					<h2 class="text-center">Numero de orden</h2>
					<hr>
					<form>
						<div class="form-group">
							<input type="number" id="numeroOrden" name="numeroOrden" class="form-control form-control-lg" required>
							 <span class="text-danger" id="alerta"></span>
						</div>
						<button type="button" th:onclick="confirmCancel()" class="btn btn-danger btn-block rounded-pill font-weight-bold">
							<i class="fas fa-times mr-1"></i>
							Cancelar orden
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="plantillas/burguer :: footer"></footer>
	
	<div th:include="Views/SI/Venta/Pedido/Ordenes/modalConfirmCancelOrden.html" th:remove="tag"></div>
	
	<script>
		function goBack() {
		  window.history.back();
		}
		
	 	function confirmCancel(){
	 		
	 		if ($("#numeroOrden").val() == "") {
	 			$('#alerta').text("Debes completar este campo!");
	 		}
	 		
	 		if ($("#numeroOrden").val() != "") {
	 			$('#alerta').text("");
	 			
	 			$('#modalConfirmCancelOrden').modal('show');
	 			$('#modalConfirmCancelOrden #numeroOrdenModal').val($("#numeroOrden").val());
	 			
	 			
	 		}
	    }
		
		function despacharOrden() {
			  window.location = "/pedido/orden/cocinero/despachar"
		}
	</script>

</body>
</html>