<!-- Modal -->
<div class="modal fade" id="ingre-cant-ins" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <h1 class="text-center font-weight-light">Cantidad</h1>
  	  <hr>
      <div class="modal-body row">
	      <div class="col">
		      <h2 class="text-center font-weight-light text-secondary" id="nombreInsumoText"></h2>
		      <hr>
		      <form autocomplete="off" th:action="@{/ingrediente/agregar-item}" th:object="${ingrediente}" method="post" class="needs-validation" novalidate>
		      	<input type="hidden" id="idInsumo" name="idInsumo"/>
		      	<input type="hidden" id="nombreInsumo" name="nombreInsumo"/>
		      	<input type="hidden" th:value="${producto.idProducto}" id="idProducto" name="idProducto"/>
		      	<div class="form-group">
		      		<label for="cantIngrediente">Cantidad:</label>
		      		<input type="text" class="form-control" th:field="*{cantidad}" id="cantIngrediente" pattern="[0-9]" name="cantIngrediente" required>
	      			<small class="form-text text-muted">Recuerda que la cantidad decimal debe ir un . (punto), Ej: 2.1</small>
	      		</div>
		      	<button type="submit" class="btn btn-block btn-primary font-weight-bold rounded-pill">
	      			<i class="fas fa-check-circle mr-1"></i>
		      		Agregar
      			</button>
      			<a href="" class="btn btn-light rounded-pill font-weight-bold btn-block" data-dismiss="modal">
		        	<i class="fas fa-times mr-1"></i>
		        	<span th:text=#{app.boton.cancelar}></span>
   				</a>
		      </form>   
	      </div>
      </div>
    </div>
  </div>
</div>