<div class="modal fade" id="modalFilterEntradasMesActual" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-4">
      <div class="modal-header border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<h1 class="text-center font-weight-light">[[#{app.prov.filtro}]]</h1>
      	<hr>
        <form autocomplete="off" th:action="@{/inventario/movimientos/entradas/mes-actual}" th:object="${entrada}" method="post">
          <div class="form-group">
            <label for="numeroFactura" class="col-form-label" th:text="'Numero factura'"></label>
            <input type="text" class="form-control text-uppercase" id="numeroFactura" th:field="*{llegada.numeroFactura}" name="numeroFactura" >
          </div>
          <hr>
          <div class="form-group">
            <label for="fecha" class="col-form-label" th:text="'Fecha'"></label>
            <input type="date" class="form-control" th:field="*{fecha}" id="fecha" name="fecha" >
          </div>
          <button type="submit" class="btn btn-primary font-weight-bold btn-block rounded-pill">
      			<i class="fas fa-search mr-1"></i>
      			<span th:text="#{app.prov.buscar}"></span>
          </button>
       	  <button type="button" class="btn btn-light font-weight-bold btn-block rounded-pill" data-dismiss="modal">
       	  		<i class="fas fa-times mr-1"></i>
       	  		<span th:text="#{app.prov.cancelar}"></span>
       	  </button>
        </form>
      </div>
    </div>
  </div>
</div>