<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Empleados | KangreSystem</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/dashboard.css}">
	<link rel="shotcut icon" th:href="@{/img/logosimbolo.png}">
	<script src="https://kit.fontawesome.com/eb1bb051d4.js"></script>
</head>
<body>
	<header th:replace="plantillas/burguer :: header"></header>
	<nav th:replace="plantillas/burguer :: navbar"></nav>
	<div class="content mx-auto">
		<div class="alert alert-success alert-dismissible fade show mt-2" role="alert" th:if="${success}">
		  <i class="far fa-check-circle mr-1"></i>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		  <strong th:text="${success}"></strong>
		</div>
		<div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" th:if="${error}">
		  <i class="far fa-times-circle mr-1"></i>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		  <strong th:text="${error}"></strong>
		</div>
		<div class="alert alert-warning alert-dismissible fade show mt-2" role="alert" th:if="${warning}">
		  <i class="fas fa-exclamation-circle mr-1"></i>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		  <strong th:text="${warning}"></strong>
		</div>
		<div class="alert alert-info alert-dismissible fade show mt-2" role="alert" th:if="${info}">
		  <i class="fas fa-info-circle mr-1"></i>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		  <strong th:text="${info}"></strong>
		</div>
	</div>
	<div class="content mx-auto">
		<h1 th:text="#{app.empleados.titulo}" class="text-center display-4 mt-4"></h1>
		<div class="justify-content-center d-flex mb-4">
			<button type="button" data-toggle="modal" data-target="#modalFilterEmpleado" class="btn col-3 btn-light border border-secondary rounded-pill" title="Buscar / filtrar">[[#{app.prov.busc}]]<i class="fas fa-search ml-2"></i></button>
		</div>
		<div class="justify-content-center d-flex">
			<div class="btn-group">
				<a class="btn btn-light border border-secondary font-weight-bold text-secondary" th:href="@{/empleado/pdf}">[[#{app.prov.exp}]]<i class="far fa-file-pdf ml-1 text-dark"></i></a>
				<a class="btn btn-light border border-secondary font-weight-bold text-secondary" th:href="@{/empleado/(format=xlsx)}">[[#{app.prov.exl}]]<i class="far fa-file-excel ml-1 text-dark"></i></a>
				<a class="btn btn-light border border-secondary font-weight-bold text-secondary" th:href="@{/empleado/limpiar}">[[#{app.prov.filt}]]<i class="fas fa-backspace ml-1 text-dark"></i></a>
			</div>
		</div>
	</div>
	<div class="content mx-auto">
		<table class="table text-center table-hover">
	  		<thead class="thead-light">
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">Username</th>
			      <th scope="col">[[#{app.empleados.nombres}]]</th>
			      <th scope="col">[[#{app.empleados.sueldo}]]</th>
			      <th scope="col">[[#{app.empleados.fecha}]]</th>
			      <th scope="col" class="text-center"></th>
			    </tr>
	  		</thead>
			<tbody>
			    <tr th:each="e:${empleados}">
			      <th scope="row" th:text="${e.idEmpleado}"></th>
			      <td th:text="${e.user.username}"></td>
			      <td th:text="${e.user.nombres} +' '+ ${e.user.apellidos}"></td>
			      <td th:text="${'$'+#numbers.formatDecimal(e.sueldo, 0, 'POINT', 0, 'POINT')}"></td>
			      <td th:text="${#calendars.format(e.fechaRegistro, 'dd/MMM/yyyy HH:mm')}" class="text-uppercase"></td>
			      <td class="text-center">
		      		<a href="#" th:onclick="'javascript:confirmDelete(\'' + ${e.idEmpleado} + '\' );'" class="text-danger text-decoration-none" title="Eliminar"><i class="fas fa-trash"></i></a>
			      </td>  
			    </tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="plantillas/burguer :: footer"></footer>	
	
	<script type="text/javascript">
	
	    function clearSearch() {
	        window.location = "[[@{/proveedor/}]]";
	    }
	   
	    function confirmDelete(id){
	    	$('#deleteEmpleadoModal').modal('show');
	    	$("#idEmpleadoMD").val(id);
	    }
	    
	    function deleteEmpleado(){
	    	var id = $("#idEmpleadoMD").val();
	        window.location = "/empleado/delete/"+id;
	    }
	    
	    function editProveedor(){
	    	var id = $("#idProveedorModal").val();
	        window.location = "edit/"+id;
	    }
	    
		$('document').ready(function(){
    		
    		$('[data-toggle="tooltip"]').tooltip();
    		
    		$('.table .btn-edit').on('click', function(){
    			var idProveedor = $(this).parent().find('#idProveedor').val();
    			$.ajax({
    				type: 'GET',
    				url: '/proveedor-api/details/'+idProveedor,
    				success: function(proveedor){
    					$('#proveedor-details #idProveedorModal').val(proveedor.idProveedor);
    					$('#proveedor-details #nitProveedor').text(proveedor.nitProveedor);
    					$('#proveedor-details #nombre').text(proveedor.nombre);
    					$('#proveedor-details #telefono').text(proveedor.telefono);
    					$('#proveedor-details #celular').text(proveedor.celular);
    					$('#proveedor-details #email').text(proveedor.email);
    					$('#proveedor-details #direccion').text(proveedor.direccion);
    					$('#proveedor-details #categoria').text(proveedor.categoria.categoria);
    					$('#proveedor-details #enabled').text(proveedor.enabled);
    					$('#proveedor-details #ciudad').text(proveedor.ciudad);
    					$('#proveedor-details #logo').attr('src', '/Imagenes/'+proveedor.logo);
    				}
    			});
    		});	
    		
    	});
	</script>
	
	<div th:include="Views/SI/Empleado/modalDeleteEmpleado.html" th:remove="tag"></div>			
	<div th:include="Views/SI/Empleado/modalFilterEmpleado.html" th:remove="tag"></div>		
</body>
</html>